.button-wrap
{
    margin-top: auto;
    margin-bottom: auto;
}
.body-wrapper{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
   
}
.page-wrapper
{
    background-color: #F2F7F4;
    height: 100vh;
}
.label-des
{
    font-weight: 500;
    font-style: italic;
    color: #17a2b8;

}